/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Variables */
.name-pd {
  font-family: 'Sofia';
  font-size: 3rem;
}
.text-big {
  color: darkblue;
  font-family: 'Alegreya SC';
  font-size: 1.5rem;
}
.header-footer-format {
  display: flex;
}
.center-text {
  justify-content: center;
}
nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  nav {
    justify-content: center;
  }
}
nav a {
  padding: 10px;
}
.container {
  max-width: 880px;
  margin: 20px auto;
  background-color: lightgray;
}
@media (max-width: 500px) {
  .container {
    margin: 10px;
  }
}
.container header {
  padding: 10px;
}
.container .text h1 {
  font-family: 'Sofia';
  font-size: 3rem;
  padding: 10px;
}
@media (max-width: 500px) {
  .container .text h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}
.container .text h2,
.container .text h3 {
  color: darkblue;
  font-family: 'Alegreya SC';
  font-size: 1.5rem;
  padding: 10px;
}
@media (max-width: 500px) {
  .container .text h2,
  .container .text h3 {
    font-size: 1.2rem;
  }
}
.container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .intro {
  background-color: white;
}
.container .main .intro img {
  width: 8%
				height: 8%;
}
.container .skills {
  justify-content: space-around;
}
.container .skills h3 {
  font-size: 1.2rem;
}
.container .skills div {
  display: table-cell;
  flex-wrap: wrap;
  flex-direction: column;
}
.container .skills .row:after {
  content: "";
  display: table;
  clear: both;
}
.container .skills .row:after .column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
}
.container .work-experience {
  justify-content: space-around;
}
.container .work-experience h3 {
  font-size: 1.2rem;
}
.container p {
  line-height: 1.25;
  margin: 20px 0;
  font-family: 'Alegreya SC';
  padding: 10px;
  padding-top: 0px;
}
.container footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.container footer a {
  padding: 5px;
}
.contact-container {
  max-width: 880px;
  margin: 20px auto;
}
.contact-container h1 {
  font-family: 'Sofia';
  font-size: 3rem;
}
@media (max-width: 500px) {
  .contact-container h1 {
    font-size: 2rem;
  }
}
.contact-container header {
  color: darkblue;
  font-family: 'Alegreya SC';
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contact-container .contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.contact-container .contact-main h2 {
  padding: 10px;
}
